body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e; /* Мягкий черный цвет */
  color: #fff;
}

.container {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.alert {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.notice {
  background-color: #00ff00;
  color: #fff;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.appointment-container {
  background-color: #2e2e2e;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.appointment-container h1, .appointment-container h2 {
  margin-bottom: 10px;
}

.appointment-container p {
  margin-bottom: 5px;
}

.delete-button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #cc0000;
}

@media (max-width: 768px) {
  .appointment-container {
      padding: 10px;
  }

  .appointment-container h1, .appointment-container h2 {
      font-size: 1.5em;
  }

  .appointment-container p {
      font-size: 1em;
  }
}
