

  

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .contacts {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }
        .contacts h2 {
            margin-bottom: 20px;
        }
        .contact-info p {
            margin: 10px 0;
        }
        .map iframe {
            margin-top: 20px;
            border: 0;
        }
        footer {
            background-color: #222;
            color: #fff;
            text-align: center;
            padding: 10px 0;
        }
        .footer-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .social-links a {
            color: #fff;
            text-decoration: none;
            margin-top: 10px;
        }
        .social-links a:hover {
            text-decoration: underline;
        }
    </style>

    <section class="contacts">
        <h2>Контакты</h2>
        <div class="contact-info">
            <p>Телефон: +7 (951) 414-29-79</p>
            <p>Адрес: г. Омск, ул. Примерная, д. 1</p>
            <p>Email: info@vetclinic.ru</p>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2288.401511422745!2d73.37000987613776!3d55.00112657281522!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43aafe3b7c531ef5%3A0xcf63dd40242c15e1!2z0JzQuNGB0YLQtdGAINCU0LLQvtGA0LjQug!5e0!3m2!1sru!2sru!4v1734517588828!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Ветеринарная клиника</p>
            <div class="social-links">
                <a href="https://vk.com/mister_dvorik" target="_blank">ВКонтакте</a>
            </div>
        </div>
    </footer>
</body>
</html>
