

  
<section class="contacts">
<h2>Контакты</h2>
<div class="contact-info">
    <p>Телефон: +7 (123) 456-78-90</p>
    <p>Адрес: г. Омск, ул. Примерная, д. 1</p>
    <p>Email: info@vetclinic.ru</p>
</div>
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1234567890!2d37.1234567890!3d55.1234567890!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2z0J_QsNGA0LjQtdCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sru!4v1234567890123!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
</section>

<footer>
<div class="footer-content">
    <p>&copy; 2023 Ветеринарная клиника</p>
    <div class="social-links">
        <a href="https://vk.com/mister_dvorik" target="_blank">ВКонтакте</a>
    </div>
</div>
</footer>
</body>
</html>
